Hi there,

Someone asked for a password reset for the email address {{ email }}.

Follow the link below to proceed with resetting your password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

In case you've forgotten your Django Boards username, it's: {{ user.username }}

If clicking the link doesn't work, please manually copy and paste the entire URL into a new browser window.

If you've received this email by mistake and did not initiate a password reset, it's likely that another user entered your email incorrectly. There's no need to take any action; you can disregard this message safely.

Thank you for your attention,

The Django Boards Team
